.button{
	border: 1px solid black;
	padding:5px 5px;
	text-decoration: none;
	color: black;
	font-size: 20px;
	background-color: white;
	width:10vw;
	margin-top:10px;
	cursor: pointer;
}
.navbutton{
	border: 1px solid black;
	text-decoration: none;
	color: black;
	font-size: 20px;
	background-color: white;
	text-align: center;
	width:100px;
	margin:10px;
	cursor: pointer;
}
#page{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#nav{
	width:100%;
	height:10%;
	background-color: skyblue;
	margin-top: 0;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content:space-around;
}

#body{
	text-align:center;
	display: flex;
	justify-content: flex-start;
	width: 100%;
	border: 1px solid red;
}
#menu{
	background-color: skyblue;
}
#body>div{
	padding:2vw;
}
#tdiv{
	margin:auto;
}
table{
    margin: auto;
    margin-top: 30px;
    border:1px solid grey;
    box-shadow: 5px 5px 10px 5px rgb(230, 230, 230);
}
th{
    font-size: 20px;
    padding:5px 20px 5px 20px ;
    background-color: orange;
    color: rgb(53, 53, 53);
}
tr{
    margin:5px;
    text-align: center;
    border-bottom:1px solid orange;
    
}

#popupForm{
	display: none;
	position:fixed;
	left: 38%;
	top: 15%;
	background-color: white;
	padding:5vw;
	z-index: 100;
}
#login{
	display:none;
}
#newTender{
	display: none;
}
#newVendor{
	display: none;
}
#newBid{
	display: none;
}
